
       body{

font-family:times new roman;
text-align:justify;
 font-size:;
 background:#FFFFFF;
    color:blue;
}
table, th, td {
 
border:0px 
solid black;
    align:center;
 
}
two {
 
border: 1px 
solid black;
align:center;
background:#EBEBEB;
    
}
footer{
       color:green;
}
